.athletes-add-form {
    max-width: 1000px;
    margin: 0 auto;
    background-color: blueviolet;
    box-shadow: 4px 4px 20px 0px rgba(34, 60, 80, 0.5);
    padding: 30px 15px;
    margin-top: 30px;
    border-radius: 5px;
}

.add-title {
    margin-top: 5px;
    color: #fff;
    font-size: 30px;
}

.add-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    margin-top: 20px;
}

.add-wrapper form {
    display: flex;
    justify-content: space-between;
    min-width: 800px;
}

.add-name, .add-weight{
    min-width: 300px;
    min-height: 50px;
    border-radius: 5px;
    border: none;
    padding-left: 15px;
}

.add-name::placeholder, .add-weight::placeholder {
    font-size: 20px;
}

.add-name[type="text"], .add-weight[type="number"]{
    font-size: 20px;
}

.add-button {
    min-width: 100px;
    min-height: 50px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: grey;
    font-size: 20px;
}

.add-button:hover {
    background-color: blueviolet;
    color: #fff;
    cursor: pointer;
    border:1px solid #fff;
}